{% extends 'managerBase.html' %}

{% block title %}Search | {% endblock %}

{% block content %}
<h1>Search Results</h1>

<!-- <form action="{% url 'searchManage' %}" method="GET">
    <input type="text" name="quey" placeholder="Search...">
    <button type="submit">Search</button>
</form>
{% if query %}
    <p>Showing results for "{{ query }}":</p>
{% else %}
    <p>Showing all results:</p>
{% endif %} -->

{% comment %} <form method="get" action="{% url 'searchManage' %}">
    <div class="field has-addons">
         <div class="control">
            <input type="text" class="input" placeholder="Search..." name="query">
        </div>
        <div class="control">
            <button class="button is-success">Search</button>
        </div>
    </div>
</form> {% endcomment %}

{% if results %}
    <ul>
        {% for product in results %}
            <li>{{ product.title }}</li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}
{% with products as list_products %}
        {% include 'parts/product_manage_list.html' %}
{% endwith %}
{% endblock %}