{% load static %}
{% load i18n %}
<!-DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}E-shop</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-pageloader@0.9.0/css/bulma-pageloader.min.css"> {% endcomment %}
		<style>
			{% comment %} .navbar{
			background-color: #F99A52
			} {% endcomment %}
			body{
			background-color: #f2efda
			}
		</style>

	</head>

	<body>
	 <div id="content" style="font-size: 16px;">
		<nav class="navbar is-light" id="navbarapp">
			<div class="navbar-brand">
				<a class="navbar-item" href="{% url 'frontpage' %}" data-translate="{% trans 'E-shop' %}"><i class="fa-solid fa-house" style="margin-right: 5px;"></i>{% trans 'E-shop' %}</a>

				<a @click="toggleMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="main-navbar" role="navigation" aria-label="main navigation" class="navbar-menu" :class="{ 'is-active': menuClass }">
				<div class="navbar-start">
					<div class="navbar-item is-expanded" style="margin-top: 0.8rem;">
						<form method="get" action="{% url 'search' %}" class="is-flex is-justify-content-center">
							<div class="field has-addons is-centered">
								<div class="control">
									<input type="text" class="input" placeholder="Search..." name="query">
								</div>
								<div class="control">
									<button class="button is-danger" data-translate="{% trans 'Search' %}"><i class="fa-solid fa-magnifying-glass" style="margin-right: 5px;"></i>{% trans 'Search' %}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
						<a href="#" class="navbar-link" data-translate="{% trans 'Categories' %}"><i class="fa-solid fa-list" style="margin-right: 5px;"></i>{% trans 'Categories' %}</a>
						<div class="navbar-dropdown">
						  <div class="category-table">
							{% for category in menu_categories %}
							  <a href="{% url 'category_detail' category.slug %}" class="navbar-item">{{ category.title }}</a>
							{% endfor %}
						  </div>
						</div>
					</div>
					
					<div class="navbar-item">
						{% if request.user.is_authenticated %}
							<a href="{% url 'cart' %}" class="button is-primary is-rounded" data-translate="{% trans 'Cart' %}"><i class="fa-solid fa-cart-shopping" style="margin-right: 5px;"></i>{% trans 'Cart' %} ([[ numItems ]])</a>
						{% else %}
							<a href="{% url 'login' %}" class="button is-primary is-rounded" data-translate="{% trans 'Cart' %}"><i class="fa-solid fa-cart-shopping" style="margin-right: 5px;"></i>{% trans 'Cart' %} ([[ numItems ]])</a>
						{% endif %}
					</div>

					{% if request.user.is_authenticated %}
						<div class="navbar-item">
							<a href="{% url 'myaccount' %}" class="button is-white" data-translate="{% trans 'My account' %}"><i class="fa-solid fa-user" style="margin-right: 5px;"></i>{% trans 'My account' %}</a>
						</div>
					{% else %}
						<div class="navbar-item">
							<div class="buttons">
								<a href="{% url 'signup' %}" class="button is-primary" data-translate="{% trans 'Sign up' %}"><strong>{% trans 'Sign up' %}</strong></a>
								<a href="{% url 'login' %}" class="button is-white" data-translate="{% trans 'Log in' %}">{% trans 'Log in' %}</a>
							</div>
						</div>
					{% endif %}
											
				</div>
			</div>
		</nav>

		<div style="display: flex; justify-content: space-between; align-items: center; margin-right: 10px; margin-left: 10px;">
			<div style="text-align: left;">
			  <span style="display: inline-block; vertical-align: middle; line-height: 40px; margin-right: 10px; font-weight: bold;" data-translate="{% trans 'Please choose the font size' %}">{% trans 'Please choose the font size' %}:</span>
			  <button class="button" id="small-font" style="vertical-align: middle;">Small</button>
			  <button class="button" id="medium-font" style="vertical-align: middle;">Medium</button>
			  <button class="button" id="large-font" style="vertical-align: middle;">Large</button>
			  {% comment %} <span style="display: inline-block; vertical-align: middle; line-height: 40px; margin-right: 10px;">Please choose the font size:</span> {% endcomment %}
			  <select id="font-select" style="vertical-align: middle; line-height: 40px;">
				<option value="10px">10px</option>
				<option value="12px">12px</option>
				<option value="14px">14px</option>
				<option value="16px">16px</option>
				<option value="18px">18px</option>
				<option value="20px">20px</option>
				<option value="22px">22px</option>
				<option value="24px">24px</option>
				<option value="26px">26px</option>
				<option value="28px">28px</option>
				<option value="30px">30px</option>
				<option value="custom">Custom</option>
			  </select>
			  <input type="text" id="custom-font-size" style="display: none; width: auto; margin-left: 10px; vertical-align: middle; line-height: 20px;" placeholder="Custom size (px)">
			  <button id="apply-font-size" style="vertical-align: middle; line-height: 20px;" class="button is-info is-light" data-translate="{% trans 'Apply' %}">{% trans 'Apply' %}</button>
			</div>
			
		  
			<div style="text-align: right;">
			  <span style="display: inline-block; vertical-align: middle; line-height: 40px; margin-right: 10px; font-weight: bold;" data-translate="{% trans 'Please choose your language' %}">{% trans 'Please choose your language' %}:</span>
			  <form class="form-inline ml-auto" action="{% url 'set_language' %}" method="post" style="float: right;">
				{% csrf_token %}
				<div class="select">
				  <select name="language" onchange="this.form.submit()">
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
					  <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
						{{ language.name_local }}
					  </option>
					{% endfor %}
				  </select>
				</div>
			  </form>
			</div>
		</div>

	 {% comment %} </div> {% endcomment %}
		<section class="section">
			{% block content %}
            {% endblock %}
		</section>
		

		{% if products.has_other_pages %}
    	<nav class="pagination is-centered" role="navigation" aria-label="pagination">
        	{% if products.has_previous %}
            	<a href="?page=1" class="pagination-previous" data-translate="{% trans 'First' %}">{% trans 'First' %}</a>
            	<a href="?page={{ products.previous_page_number }}" class="pagination-previous" data-translate="{% trans 'Previous' %}">{% trans 'Previous' %}</a>
        	{% else %}
            	<a class="pagination-previous" disabled data-translate="{% trans 'First' %}">{% trans 'First' %}</a>
            	<a class="pagination-previous" disabled data-translate="{% trans 'Previous' %}">{% trans 'Previous' %}</a>
        	{% endif %}

        	<ul class="pagination-list">
            	{% for num in products.paginator.page_range %}
                	{% if num == products.number %}
                    	<li>
                        	<a href="?page={{ num }}" class="pagination-link is-current" aria-label="Page {{ num }}" aria-current="page">{{ num }}</a>
                    	</li>
                	{% else %}
                    	<li>
                        	<a href="?page={{ num }}" class="pagination-link" aria-label="Goto page {{ num }}">{{ num }}</a>
                    	</li>
                	{% endif %}
            	{% endfor %}
        	</ul>

        	{% if products.has_next %}
            	<a href="?page={{ products.next_page_number }}" class="pagination-next" data-translate="{% trans 'Next' %}">{% trans 'Next' %}</a>
            	<a href="?page={{ products.paginator.num_pages }}" class="pagination-next" data-translate="{% trans 'Last' %}">{% trans 'Last' %}</a>
        	{% else %}
            	<a class="pagination-next" disabled data-translate="{% trans 'Next' %}">{% trans 'Next' %}</a>
            	<a class="pagination-next" disabled data-translate="{% trans 'Last' %}">{% trans 'Last' %}</a>
     		{% endif %}
    	</nav>
		{% endif %}

		<footer class="footer">
			<div class="columns">
				<div class="column is-4">
					<h2 class="subtitle" data-translate="{% trans 'E-shop' %}">{% trans 'E-shop' %}</h2>
				</div>

				<div class="column is-8">
					<a href="{% url 'contact' %}" class="navbar-item" data-translate="{% trans 'Contact' %}">{% trans 'Contact' %}</a>
					<a href="{% url 'about' %}" class="navbar-item" data-translate="{% trans 'About' %}">{% trans 'About' %}</a>
				</div>
			</div>
		</footer>
	 </div>

		<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
		<script>
			var store = new Vuex.Store({
				state: {
					numItems: {{ cart.get_total_length }},
					totalCost: {{ cart.get_total_cost }}
				},
				mutations: {
					increment(state, quantity) {
						state.numItems += quantity;
					},
					changeTotalCost(state, newCost) {
						state.totalCost += newCost
					}
				}
			});

			var navbarapp = new Vue({
				el: '#navbarapp',
				delimiters: ['[[', ']]'],
				store: store,
				data () {
					return {
						menuClass: false
					}
				},
				computed: {
					numItems: function() {
						return store.state.numItems
					}
				},
				methods: {
					toggleMenu() {
						console.log('toggleMenu');

						this.menuClass = !this.menuClass;
					}
				}
			});
		
    		// 检查本地存储中是否有字体大小设置
    		var fontSize = localStorage.getItem('fontSize');
    		if (fontSize) {
        		document.getElementById('content').style.fontSize = fontSize;
    		}

			document.getElementById('small-font').addEventListener('click', function() {
				document.getElementById('content').style.fontSize = '10px';
				// 将选择的字体大小保存到本地存储
				localStorage.setItem('fontSize', '10px');
			});
		
			document.getElementById('medium-font').addEventListener('click', function() {
				document.getElementById('content').style.fontSize = '16px';
				localStorage.setItem('fontSize', '16px');
			});
		
			document.getElementById('large-font').addEventListener('click', function() {
				document.getElementById('content').style.fontSize = '22px';
				localStorage.setItem('fontSize', '22px');
			});

    		document.getElementById('font-select').addEventListener('change', function() {
				var selectedValue = this.value;
				if (selectedValue === 'custom') {
					document.getElementById('custom-font-size').style.display = 'inline-block';
					document.getElementById('apply-font-size').style.display = 'inline-block'; // 显示"Apply"按钮
				} else {
					document.getElementById('custom-font-size').style.display = 'none';
					document.getElementById('apply-font-size').style.display = 'none'; // 隐藏"Apply"按钮
					document.getElementById('content').style.fontSize = selectedValue;
					// 将选择的字体大小保存到本地存储
					localStorage.setItem('fontSize', selectedValue);
				}
			});

			document.getElementById('apply-font-size').addEventListener('click', function() {
				var customFontSize = document.getElementById('custom-font-size').value;
				if (customFontSize) {
					document.getElementById('content').style.fontSize = customFontSize;
					// 将选择的字体大小保存到本地存储
					localStorage.setItem('fontSize', customFontSize);
				}
			});

			window.addEventListener('DOMContentLoaded', function() {
				var fontSize = localStorage.getItem('fontSize');
				if (fontSize) {
				  document.getElementById('content').style.fontSize = fontSize;
				  if (fontSize === 'custom') {
					document.getElementById('apply-font-size').style.display = 'none';
					document.getElementById('font-select').value = 'custom'; // 设置字体大小选择框的选中值为'custom'
					document.getElementById('custom-font-size').style.display = 'inline-block';
				  } else {
					document.getElementById('apply-font-size').style.display = 'none';
					document.getElementById('font-select').value = fontSize; // 设置字体大小选择框的选中值为之前保存的大小
					document.getElementById('custom-font-size').style.display = 'none';
				  }
				}
			});

    		var elements = document.querySelectorAll('[data-translate]');

    		elements.forEach(function(element) {
        		var speechReported = false;

        		function handleMouseEnter() {
            		if (!speechReported) {
                		timeoutId = setTimeout(function() {
							var text = element.getAttribute('data-translate');
							var speech = new SpeechSynthesisUtterance(text);
							speechSynthesis.speak(speech);
							speechReported = true;
						}, 2000); 
            		}
        		}

        		function handleMouseLeave() {
					clearTimeout(timeoutId);
            		speechReported = false;
        		}

        		element.addEventListener('mouseenter', handleMouseEnter);
        		element.addEventListener('mouseleave', handleMouseLeave);
    		});
		</script>

		{% block scripts %}
		{% endblock %}
	
	</body>
</html>