{% extends 'base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
    {% comment %} <h2 class="subtitle has-text-centered">Featured products</h2> {% endcomment %}
    
    {% with products as list_products %}
        {% include 'parts/product_list.html' %}
    {% endwith %}

    <hr>

    {% comment %} <div class="featured-categories">
        {% for category in featured_categories %}
            <h2 class="subtitle has-text-centered">{{ category.title }}</h2>
        
            {% with category.products.all|slice:":4" as list_products %}
                {% include 'parts/product_list.html' %}
            {% endwith %}    
        {% endfor %}
    </div> {% endcomment %}

    {% comment %} <h2 class="subtitle has-text-centered">Popular products</h2>
        
    {% with popular_products as list_products %}
        {% include 'parts/product_list.html' %}
    {% endwith %} 

    <h2 class="subtitle has-text-centered">Recently viewed products</h2>
        
    {% with recently_viewed_products as list_products %}
        {% include 'parts/product_list.html' %}
    {% endwith %}   {% endcomment %}

    {% if products.has_other_pages %}
        <div class="pagination">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ products.previous_page_number }}">Previous</a>
            {% endif %}

            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <span class="current-page">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Next</a>
                <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}



{% endblock %}