{% extends 'managerBase.html' %}
{% block content %}
             <a href="{% url 'addProduct' %}" class="edit-button">Add product</a>
             <!-- <div class="product-list">
                 {% for product in products %}
                 <div class="product">
                     <span>{{ product.id }}</span>
                     <span>{{ product.title }}</span>
                     <a href="{% url 'editProduct' product.pk %}" class="edit-button">Edit</a>
                     <a href="{% url 'deleteProduct' product.pk %}" class="edit-button">Delete</a>
                 </div>
                 {% endfor %}
             </div>
         </div> -->

         <div class = "columns is-multiline" >
            {% for product in products %}
                <div class="column is-3">
                   <div class="card">
                      <div class="card-content">
                           <div class="media">
                              <div class="media-content">
                                  <img src="{{ product.image.url }}" alt="test" width="200" height="300">
                                 <p class="title is-4">{{ product.title }}</p>
                                 <p class="subtitle is-6">{{ product.price }}</p>
                                 <a href="{% url 'editProduct' product.pk %}" class="edit-button">Edit</a>
                                 <a href="{% url 'deleteProduct' product.pk %}" class="edit-button">Delete</a>
                              </div>
                           </div>
                      </div>
                             <footer class="card-footer">
                                <a href="{% url 'product_detail' product.category.slug product.slug %}" class="cart-footer-item">View product</a>
                             </footer>
                   </div>
                </div>
            {% endfor %}
   </div>
{% endblock%}