{% extends 'base.html' %}
{% load i18n %}
{% block title %}Cart | {% endblock %}

{% block content %}
    <div id="cartapp">
        <h1 class="title" data-translate="{% trans 'Cart' %}">{% trans 'Cart' %}</h1>

        {% if cart %}
            <div v-if="products.length > 0">
                <div class="table">
                    <table class="table"> {% comment %}本来table后面还有 is-fullwidth is-striped{% endcomment %}
                        <thead>
                            {% comment %} <th></th> {% endcomment %}
                            <th data-translate="{% trans 'Product' %}">{% trans 'Product' %}</th>
                            <th data-translate="{% trans 'Quantity' %}">{% trans 'Quantity' %}</th>
                            <th data-translate="{% trans 'Price' %}">{% trans 'Price' %}</th>
                            <th></th>
                        </thead>

                        <tbody>
                            <tr v-for="product in products">
                                {% comment %} <td>
                                    <figure class="image is-48x48">
                                        <img :src="product.thumbnail.url" alt="test" width="48" height="48">
                                    </figure>
                                </td> {% endcomment %}
                                <td>
                                    <a :href="product.url">
                                        [[ product.title ]]
                                    </a>
                                </td>
                                <td><button @click="decrementQuantity(product.id, product.quantity, product.price)">-</button> [[ product.quantity ]] <button @click="incrementQuantity(product.id, product.quantity, product.price)">+</button></td>
                                <td>[[ product.price ]]</td>
                                <td><button @click="removeFromCart(product.id)" class="button is-danger" data-translate="{% trans 'Remove' %}">{% trans 'Remove' %}</button></td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td data-translate="{% trans 'Total cost' %}">{% trans 'Total cost' %}:</td>
                                <td>[[ numItems ]]</td>
                                {% comment %} <td></td> {% endcomment %}
                                <td>[[ totalCost ]]</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                {% if not request.user.is_authenticated %}
                    <p>Continue as guest or <a href="{% url 'login' %}" data-translate="{% trans 'log in' %}">{% trans 'log in' %}</a> / <a href="{% url 'signup' %}" data-translate="{% trans 'sign up' %}">{% trans 'sign up' %}</a>.</p>

                    <hr>
                {% endif %}

                {% comment %} <h2 class="title">Contact information</h2> {% endcomment %}

                {% comment %} <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label>First name</label>
    
                            <div class="control">
                                <input class="input" type="text" name="first_name" v-model="first_name">
                            </div>
                        </div>
    
                        <div class="field">
                            <label>Last name</label>
    
                            <div class="control">
                                <input class="input" type="text" name="last_name" v-model="last_name">
                            </div>
                        </div>
    
                        <div class="field">
                            <label>E-mail</label>
    
                            <div class="control">
                                <input class="input" type="email" name="email" v-model="email">
                            </div>
                        </div>
    
                        <div class="field">
                            <label>Phone</label>
    
                            <div class="control">
                                <input class="input" type="text" name="phone" v-model="phone">
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="field">
                            <label>Address</label>
    
                            <div class="control">
                                <input class="input" type="text" name="address" v-model="address">
                            </div>
                        </div>
    
                        <div class="field">
                            <label>Zip code</label>
    
                            <div class="control">
                                <input class="input" type="text" name="zipcode" v-model="zipcode">
                            </div>
                        </div>
    
                        <div class="field">
                            <label>Place</label>
    
                            <div class="control">
                                <input class="input" type="text" name="place" v-model="place">
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                
                {% comment %} <div class="field">
                    <div class="control">
                        <button class="button is-primary" v-on:click="buy('stripe')">Pay with stripe</button>
                        <button class="button is-primary" v-on:click="buy('razorpay')">Pay with razorpay</button>
                    
                        <div id="paypal-button-container" class="mt-4"></div>
                    </div>
                </div> {% endcomment %}
            </div>
            <p v-else data-translate="{% trans 'Your cart is empty!' %}">{% trans 'Your cart is empty!' %}</p> 
            {% comment %} Your cart is empty! {% endcomment %}

            <form v-on:submit.prevent="submitForm()">
                {% comment %} <div class="field">
                    <label>First name</label>

                    <div class="control">
                        <input type="text" name="first_name" v-model="first_name"> <!--本来在type前有class="input"的-->
                    </div>
                </div>

                <div class="field">
                    <label>Last name</label>

                    <div class="control">
                        <input type="text" name="last_name" v-model="last_name"> <!--本来在type前有class="input"的-->
                    </div>
                </div>

                <div class="field">
                    <label>E-mail</label>

                    <div class="control">
                        <input type="email" name="email" v-model="email"> <!--本来在type前有class="input"的-->
                    </div>
                </div>

                <div class="field">
                    <label>Phone</label>

                    <div class="control">
                        <input type="text" name="phone" v-model="phone"> <!--本来在type前有class="input"的-->
                    </div>
                </div>

                <div class="field">
                    <label>Address</label>

                    <div class="control">
                        <input type="text" name="address" v-model="address"> <!--本来在type前有class="input"的-->
                    </div>
                </div>

                <div class="field">
                    <label>Zip code</label>

                    <div class="control">
                        <input type="text" name="zipcode" v-model="zipcode"> <!--本来在type前有class="input"的-->
                    </div>
                </div>

                <div class="field">
                    <label>Place</label>

                    <div class="control">
                        <input type="text" name="place" v-model="place"> <!--本来在type前有class="input"的-->
                    </div>
                </div> {% endcomment %}

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" data-translate="{% trans 'Check out' %}">{% trans 'Check out' %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <p data-translate="{% trans 'Your cart is empty!' %}">{% trans 'Your cart is empty!' %}</p>
        {% endif %}

        <div v-if="errors.length > 0">
            <article class="message is-danger"
                v-for="error in errors"
            >
                <div class="message-header">
                    <p>Error</p>
                </div>
                <div class="message-body">
                    [[ error ]]
                </div>
            </article>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% comment %} <script type="application/javascript" src="https://js.stripe.com/v3/"></script> {% endcomment %}
{% comment %} <script type="application/javascript" src="https://checkout.razorpay.com/v1/checkout.js"></script> {% endcomment %}
{% comment %} <script type="application/javascript" src="https://www.paypal.com/sdk/js?client-id={{ pub_key_paypal }}"></script> {% endcomment %}
<script>
    var productapp = new Vue({
        el: '#cartapp',
        delimiters: ['[[', ']]'],
        store: store,
        data () {
            return {
                errors: [],
                first_name: '{{ request.user.first_name }}', //本来''中间是有{{ first_name }}的 第2次修改：中间加上{{ request.user.first_name }}
                last_name: '{{ request.user.last_name }}', //{{ last_name }} 同上
                email: '{{ request.user.email }}', //{{ email }} 同上
                address: '{{ request.user.userprofile.address }}', //{{ address }} 同上
                zipcode: '{{ request.user.userprofile.zipcode }}', //{{ zipcode }} 同上
                place: '{{ request.user.userprofile.place }}', //{{ place }} 同上
                phone: '{{ request.user.userprofile.phone }}', //{{ phone }} 同上
                products: [{{ productsstring|safe }}],
            }
        },
        mounted() {
            const amount = this.totalCost.toString();

            /*paypal.Buttons({
                onClick: () => {
                    if (this.validateForm() > 0) {
                        return false;
                    }
                },
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: amount
                            }
                        }]
                    })
                },
                onApprove: (data, actions) => {
                    const formdata = {
                        'first_name': this.first_name,
                        'last_name': this.last_name,
                        'email': this.email,
                        'address': this.address,
                        'zipcode': this.zipcode,
                        'place': this.place,
                        'phone': this.phone,
                        'gateway': 'paypal',
                        'order_id': data.orderID
                    };

                    return actions.order.capture().then(function(details) {
                        fetch('/api/create_checkout_session/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            credentials: 'same-origin',
                            body: JSON.stringify(formdata)
                        })
                        .then(function(response) {
                            return response.json()
                        })
                        .then(function(result) {
                            window.location.href = '/cart/success/';
                        })
                        .catch(function(error) {
                            console.log('error:', error);
                        });
                    });
                }
            }).render('#paypal-button-container'); */
        },
        computed: {
            numItems: function() {
                return store.state.numItems
            },
            totalCost: function() {
                return store.state.totalCost
            },
            
        },
        methods: {
            /*validateForm() {
                this.errors = [];

                if (this.first_name === '') {
                    this.errors.push('First name is empty');
                }

                if (this.last_name === '') {
                    this.errors.push('Last name is empty');
                }

                if (this.email === '') {
                    this.errors.push('Email is empty');
                }

                if (this.address === '') {
                    this.errors.push('Address is empty');
                }

                if (this.zipcode === '') {
                    this.errors.push('Zip code is empty');
                }

                if (this.place === '') {
                    this.errors.push('Place is empty');
                }

                if (this.phone === '') {
                    this.errors.push('Phone is empty');
                }

                return this.errors.length;
            },
            buy(gateway) {
                var data = {
                    'first_name': this.first_name,
                    'last_name': this.last_name,
                    'email': this.email,
                    'address': this.address,
                    'zipcode': this.zipcode,
                    'place': this.place,
                    'phone': this.phone,
                    'gateway': gateway
                };

                if (this.validateForm() === 0) {
                    if (gateway === 'stripe') {
                        var stripe = Stripe('{{ pub_key }}');

                        fetch('/api/create_checkout_session/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            credentials: 'same-origin',
                            body: JSON.stringify(data)
                        })
                        .then(function(response) {
                            return response.json()
                        })
                        .then(function(session) {
                            return stripe.redirectToCheckout({ sessionId: session.session.id })
                        })
                        .then(function(result) {
                            if (result.error) {
                                alert(result.error.message)
                            }
                        })
                        .catch(function(error) {
                            console.log('Error:', error);
                        });
                    } else if (gateway === 'razorpay') {
                        fetch('/api/create_checkout_session/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            credentials: 'same-origin',
                            body: JSON.stringify(data)
                        })
                        .then(function(response) {
                            return response.json()
                        })
                        .then(function(result) {
                            const order_id = result.order.id;
                            const amount = result.order.amount;

                            var options = {
                                'key': '{{ pub_key_razorpay }}',
                                'amount': amount,
                                'currency': 'INR',
                                'name': 'E-shop',
                                'description': 'A cool gadget store',
                                'order_id': order_id,
                                'handler': function(res) {
                                    console.log('Handler');
                                    
                                    fetch('/api/validate_payment/', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': '{{ csrf_token }}'
                                        },
                                        credentials: 'same-origin',
                                        body: JSON.stringify({
                                            'razorpay_payment_id': res.razorpay_payment_id,
                                            'razorpay_order_id': res.razorpay_order_id,
                                            'razorpay_signature': res.razorpay_signature
                                        })
                                    })
                                    .then(function(response) {
                                        return response.json();
                                    })
                                    .then(function(result) {
                                        window.location.href = '/cart/success/';
                                    })
                                    .catch(function(error) {
                                        console.log('Error:', error);
                                    });
                                },
                                'prefill': {
                                    'name': data.first_name + ' ' + data.last_name,
                                    'email': data.email,
                                    'contact': data.phone
                                },
                                'theme': {
                                    'color': '#333333'
                                }
                            };

                            var rzp = new Razorpay(options);
                            rzp.open();
                        })
                        .catch(function(error) {
                            console.log('Error', error);
                        });
                    }
                }
            },*/
            submitForm() {
                console.log('Submit form');

                var data = {
                    'first_name': this.first_name,
                    'last_name': this.last_name,
                    'email': this.email,
                    'address': this.address,
                    'zipcode': this.zipcode,
                    'place': this.place,
                    'phone': this.phone,
                    //'order_id': data.orderID
                };

                fetch('/api/checkout/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log('Success');
                    console.log(response);

                    window.location.href = '/';
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })

            },
            incrementQuantity(product_id, quantity, price) {
                console.log('Product_id:', product_id);

                for (var i = 0; i < this.products.length; i++) {
                    var product = this.products[i];

                    if (product.id === product_id) {
                        if (quantity < product.num_available) {
                            var data = {
                                'product_id': product_id, 
                                'update': true,
                                'quantity': parseInt(quantity) + 1
                            };

                            store.commit('increment', 1);
                            store.commit('changeTotalCost', parseFloat(price));
                                
                            fetch('/api/add_to_cart/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                credentials: 'same-origin',
                                body: JSON.stringify(data)
                            })
                            .then((response) => {
                                console.log(response)

                                for (var i = 0; i < this.products.length; i++) {
                                    var product = this.products[i];
            
                                    if (product.id === product_id) {
                                        this.products[i].quantity = parseInt(this.products[i].quantity) + 1;
                                        this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
                                    }
                                }
                            })
                            .catch(function (error) {
                                console.log('Error 2');
                                console.log(error);
                            })
                        } else {
                            alert('No more available in stock!');
                        }
                    } 
                }
            },
            decrementQuantity(product_id, quantity, price) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id, 
                    'update': true,
                    'quantity': parseInt(quantity) - 1
                };
                    
                if (parseInt(quantity) - 1 === 0) {
                    this.removeFromCart(product_id);
                } else {
                    store.commit('increment', -1);
                    store.commit('changeTotalCost', -parseFloat(price));
                 
                    fetch('/api/add_to_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then((response) => {
                        console.log(response)

                        for (var i = 0; i < this.products.length; i++) {
                            var product = this.products[i];
    
                            if (product.id === product_id) {
                                this.products[i].quantity = parseInt(this.products[i].quantity) - 1;
                                this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
                            }
                        }
                    })
                    .catch(function (error) {
                        console.log('Error 2');
                        console.log(error);
                    })
                }
            },
            removeFromCart(product_id) {
                console.log('Remove product_id:', product_id);

                var data = {
                    'product_id': product_id
                };
                    
                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    const removedProduct = this.products.find(product => product.id === product_id);                    
                    const removedQuantity = removedProduct.quantity;                    
                    const removedPrice = removedProduct.price;
                    this.numItems -= removedQuantity;                    
                    this.totalCost -= removedQuantity * removedPrice;
                    this.products = this.products.filter(product => product.id !== product_id);
                    location.reload();
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            }
        }
    });
</script>
{% endblock %}